html[data-theme="dark"] {
    --flash-bg-success: linear-gradient(rgb(46 160 67 / 15%), rgb(46 160 67 / 15%));
    --flash-brd-color-success: rgb(46 160 67 / 40%);
    --flash-btn-close-color: #fff;
}
.flash-message {
    position: fixed;
    top: 50px;
    left: 50%;
    width: 500px;
    padding: 10px 30px 10px 15px;
    margin-left: -250px;
    word-wrap: break-word;
    font-size: 14px;
    color: var(--color-a, #fff);
    text-align: center;
    border-radius: 3px;
    box-shadow: var(--drk-box-shadow, 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .24));
    z-index: 10300;
}
html[data-theme="dark"] .flash-message {
    background: var(--bgc-a);
    color: var(--color-a);
    border-style: solid;
    border-width: 1px;
    box-shadow: var(--drk-box-shadow);
}
.flash-message.success {
    background: #8da85e;
}
html[data-theme="dark"] .flash-message.success {
    background-image: linear-gradient(rgb(46 160 67 / 15%), rgb(46 160 67 / 15%));
    border-color: rgb(46 160 67 / 40%);
}
.flash-message.fade {
    filter: alpha(opacity = 0);
    opacity: 0;
    transform: scale(.9);
    transition: all .5s, width 0s;
}
.flash-message.fade.in {
    filter: alpha(opacity = 100);
    opacity: 1;
    transform: scale(1);
}





.flash-message button.close {
    position: absolute;
    right: 10px;
    top: 8px;
    padding: 0;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    float: none;
    outline: none;
    color: var(--flash-btn-close-color, #000);
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: .2;
    border: 0;
    text-shadow: 0 1px 0 #fff;
}
.flash-message button.close:hover,
.flash-message button.close:focus {
    opacity: .5;
}