body {
    margin: 0;
    color: #dbdbdb;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    background: #3b3f46;
}
.navbar {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    background: #2f4f4f;
    list-style: none;
}
.navbar li {
    padding: 10px 30px;
    border-bottom: solid 1px #5c7777;
}
.navbar li:hover {
    cursor: pointer;
    background: #3c6161;
}
.navbar li.active {
    background: #3c6161;
}
.navbar li.active:hover {
    cursor: auto;
}
.body {
    width: calc(100% - 300px);
    margin-left: 300px;
    padding-top: 40px;
}
.container {
    margin: 0 auto 20px;
    padding: 20px;
    max-width: 700px;
}
.hide {
    display: none;
}
h1, h2, h3, h4, .center {
    text-align: center;
}
h2 {
    color: gold;
    font-size: 35px;
}
.block_domens__item {
    display: flex;
    border-radius: 4px;
    margin: 15px 0;
    padding: 15px 6px 6px;
    border: solid 1px #949494;
}
.model_settings {
    margin: 0 -20px;
    padding: 20px;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, transparent));
    background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.1), transparent);
    border-top: solid 15px #3b3f46;
}
.model_settings:nth-child(odd) {
    background-color: #4c5363;
}
.model-options {
    position: relative;
    margin-bottom: 30px;
}
.model-item-option {
    margin-bottom: 20px;
}
input[type="text"] {
    width: 400px;
    height: 21px;
    margin-bottom: 9px;
    padding: 3px;
    background: #4d4d4d;
    color: #ff8c00;
    font-size: 17px;
    border: solid 1px #b66e18;
}
input[type="number"] {
    display: block;
    width: 85px;
    margin: auto;
    height: 21px;
    margin-bottom: 9px;
    padding: 3px;
    background: #4d4d4d;
    color: #ff8c00;
    font-size: 17px;
    border: solid 1px #b66e18;
}
select {
    padding: 6px;
    background: #4d4d4d;
    color: #ff8c00;
    border: solid 1px #b66e18;
}
.block_domens__item input {
    width: 490px;
}
input[name="backendURL"] {
    width: 485px;
}
span.label_name {
    width: 190px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
}
table {
    border-collapse: collapse;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #35393e;
}
.table-bordered {
    border: 1px solid #828588;
}
.table-bordered td,
.table-bordered th {
    border: 1px solid #828588;
}
th {
    position: sticky;
    padding: 10px 0;
    top: 0;
    background: #b22222;
    z-index: 2;
}
td {
    padding: 12px 6px 4px;
}
table th:nth-child(1) {
    width: 175px;
}
table th:nth-child(2) {
    width: 475px;
}
table input[type="text"] {
    width: 450px;
}
#btn_addHost,
.btn_addModel,
.btn_addCategory {
    display: block;
    padding: 5px 0;
    background: #33852d;
    color: #dbd9d9;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
.btn_addModel {
    margin: 20px -20px 0;
}
#btn_addHost:hover,
.btn_addModel:hover,
.btn_addCategory:hover {
    background: #3a9133;
}
.btn_addCategory {
    float: right;
    padding: 5px 15px;
}
.btn_deleteModel,
.btn_deleteCategory,
.btn_deleteHost {
    padding: 3px 0 5px;
    background: #ca0000;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    width: 32px;
    height: 21px;
    margin-left: 5px;
}
.btn_deleteModel:hover,
.btn_deleteCategory:hover,
.btn_deleteHost:hover {
    background: #d80202;
}
.btn_deleteModel {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
#save {
    display: block;
    margin: 30px auto;
    background: #17777a;
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
    color: #ffdea3;
    font-size: 17px;
    cursor: pointer;
}
#save:hover {
    background: #0e6b6e;
    color: #fff;
}
#status {
    display: none;
    position: fixed;
    width: 300px;
    top: 50px;
    left: 50%;
    margin-left: -150px;
    padding: 15px;
    text-align: center;
    background: darkgreen;
    border: solid 2px #b6b6b6;
    border-radius: 6px;
}
p.note_text {
    margin-top: 0;
    margin-left: 200px;
    font-size: 12px;
    line-height: 12px;
}
hr {
    border-color: #747780;
}
input[name="linkToolbar"] {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    margin-left: 85px;
}
.switch {
    position: relative;
    height: 26px;
    width: 120px;
    margin-right: 20px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 58px;
    line-height: 26px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}
.switch-label:active {
    font-weight: bold;
}
.switch-label-on {
    padding-left: 2px;
}
.switch-label-off {
    padding-right: 2px;
}
.switch-input {
    display: none;
}
.switch-input:checked + .switch-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: color, text-shadow;
    transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-off ~ .switch-selection {
    left: 60px;
    background-image: -webkit-linear-gradient(top, #ef0101, #ab0700);
}
.switch-selection {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    display: block;
    width: 58px;
    height: 22px;
    border-radius: 3px;
    background-color: #65bd63;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
    background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
.block-buttons {
    display: block;
    position: fixed;
    top: 50px;
    right: 0;
}
.panel-btn {
    display: block;
    margin-bottom: 10px;
    width: 48px;
    height: 48px;
    padding: 8px;
    background: #2f4f4f;
    color: #ccc;
    border-width: 1px 0 1px 1px;
    border-color: #8e8e8e;
    border-style: solid;
    border-radius: 5px 0 0 5px;
}
.panel-btn:hover {
    background: #3c6161;
    color: #fff;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    width: 300px;
    height: 300px;
    border: solid 1px #ccc;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    background: black;
    padding: 15px;
    border-radius: 5px;
    z-index: 1050;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 1000;
}
#btn_export,
.btnImportSave {
    width: 100%;
    padding: 11px;
    background: #4a4a4a;
    color: #ccc;
    font-size: 19px;
    cursor: pointer;
    border: solid 1px #7b7b7b;
    border-radius: 5px;
}